* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
body * {
<<<<<<< HEAD
  font-family: 'Open Sans', sans-serif !important;
=======
  font-family: "Poppins", sans-serif !important;
  font-family: "Open Sans", sans-serif !important;
>>>>>>> 9e01dae02bbda7a200465658c64da9c1ff14fd61
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 500 !important;
}

/* Global */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ai-start {
  align-items: flex-start;
}

.ai-end {
  align-items: flex-end;
}

.ai-center {
  align-items: center;
}

/* Lib */
.ant-form-item-label {
  white-space: nowrap !important;
}

span[role="img"] {
  vertical-align: middle;
}

.layout-height {
  min-height: calc(100vh - 160px);
}

.ant-select-selection-item,
.ant-select-item-option-content {
  text-transform: capitalize;
}
