header {
  display: flex;
  padding: 12px 3%;
  column-gap: 30px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  .header-container {
    margin: auto;

    img {
      width: 40px;
      cursor: pointer;
    }

    .up {
      display: flex;
      align-items: center;
      gap: 32px;

      .logo {
        img {
          height: 60px;
          width: auto;
        }
      }

      .input {
        display: flex;
        width: 100%;

        input {
          border: unset;
          outline: unset;
          background-color: #ffeded;
          padding: 5px 20px;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px;
          width: 100%;
        }

        .incon-search {
          background-color: #74abfa;
          border-bottom-right-radius: 20px;
          border-top-right-radius: 20px;
          padding: 5px 15px;
          display: flex;
          justify-content: center;
          cursor: pointer;

          img {
            width: 30px;
          }
        }
      }

      .icon-up {
        margin-left: 20px;
      }
    }

    .down {
      display: flex;
      align-items: center;
      gap: 16px;

      button {
        padding-left: 32px;
        padding-right: 32px;
      }
    }
  }
  .icon-store {
    position: relative;
    .number-order {
      position: absolute;
      bottom: -5px;
      right: 0;
      background-color: red;
      border-radius: 50%;
      color: white;
      font-size: 14px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
